<header class="header_main">
  <button type="button" (click)="mobileToggle.emit()" class="button menu"><img class="chevron" src="/assets/images/chevron_down.svg"/></button>
  <div>
      <a href="https://cobiro.com/">
          <img class="logo" src="/assets/images/logo.svg"/>
      </a>
  </div>
  <nav class="menu">
      <div><img class="user__avatar" src="/assets/images/Martel.png"/></div>
      <label class="user__name">Marten</label>
      <span><img class="chevron" src="/assets/images/chevron_down.svg"/></span>
  </nav>
</header>
