$blank: #FFF;
$aqua_spring: #F4F9FC;
$azure_radiance: #0087EF;
$bismarck: #4C6C83;
$prussian_blue: #002D4F;
$catskill_white: #EAEEF4;
$athens_grey: #E5E9ED;
$stratos: #00124F;
$lochmara: #0075ce;
$endeavour: #005ea7;
$athens_gray: #fafbfc;
$zircon: #fafbff;
$gallery: #f0f0f0;
$mercury: #e9e9e9;
$black: #020202;
